<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div align="center">
    <h1>Welcome to Netflix Zuul API Gateway</h1>

    <table >
        <tr>
            <td>
                <a href="/netflix-zuul-api-gateway/hystrix.stream/">/netflix-zuul-api-gateway/hystrix.stream/</a></td>
            </td>
        </tr>
        <tr>
            <td><a href="/netflix-zuul-api-gateway/book-service/">/book-service/</a></td>
        </tr>
        <tr>
            <td><a href="/netflix-zuul-api-gateway/book-service/available/">/book-service/available/</a></td>
        </tr>
        <tr>
            <td><a href="/netflix-zuul-api-gateway/book-service/checked-out/">/book-service/checked-out/</a></td>
        </tr>
    </table>

</div>
</body>
</html>